# Generic ignore patterns
*~
*.o
*.a
*.moc
.git

# Logs etc.
**/*.log
**/*.zip

# Windows project stuff
**/bin
**/obj
**/*.suo
**/*.user
*.cache
.vs

# Monodevelop project stuff
**/*.userprefs
**/*.pidb

# Windows runtime
*.exe
*.ilk
*.pdb
*.msi

# Windows clutter
*.db

# No need to distribute KSP binaries
Assembly-CSharp.dll
Assembly-CSharp-firstpass.dll
UnityEngine.dll
mscorlib.dll
**/*.dll
**/3rd party binaries
/Releases
GameData/*